torchvision==0.11.0
torch==1.10.0
streamlit==1.15.1
ogb==1.3.4
scikit-learn
pandas==1.3.5
numpy
tqdm
rdkit-pypi==2022.9.1
torch-scatter==latest+cu101 -f https://pytorch-geometric.com/whl/torch-1.10.0.html
torch-sparse==latest+cu101 -f https://pytorch-geometric.com/whl/torch-1.10.0.html
torch-cluster==latest+cu101 -f https://pytorch-geometric.com/whl/torch-1.10.0.html
torch-spline-conv==latest+cu101 -f https://pytorch-geometric.com/whl/torch-1.10.0.html
torch-geometric